name: windows-x64

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: [self-hosted, windows, x64]

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        architecture: x64

    - uses: ilammy/msvc-dev-cmd@v1
    - name: Build and Test
      run: ./gradlew build
